h1{
	text-align: center;
}
h2{
	margin-left: 1100px;
	font-size: 13px;
	margin-top:-40px;
}
h3{
	margin-left: 1170px;
	font-size: 13px;
	margin-top:-26px;
}

body {font-family: Arial, Helvetica, sans-serif;

background-image: url("../images/DBuilding.JPG");
height: 760px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}

ul.menu{
	list-style-type: none;
	margin: 0px;
	padding: 0;
	overflow: hidden;
	background-color:#ffcb0c;
	border-style: solid;
	
}
/* Dropdown for profile */
i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.dropdown {
  position: relative;
  display: inline-block;
  float: right;
}

.dropdown .dropbtn {
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  color: black;
  padding: 14px 16px;
  font-size: 16px;
  border: none;
  outline: none;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: inherit;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 150px;
  border: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

/* for edit profile */
.profilepress-edit-profile-status {
  width: 400px;
  text-align: center;
  background-color: #e74c3c;
  color: #ffffff;
  border: medium none;
  border-radius: 4px;
  font-size: 17px;
  font-weight: normal;
  line-height: 1.4;
  padding: 8px 5px;
  margin: auto;
}

.memo-edprofile-success {
  width: 400px;
  text-align: center;
  background-color: #2ecc71;
  color: #ffffff;
  border: medium none;
  border-radius: 4px;
  font-size: 17px;
  font-weight: normal;
  line-height: 1.4;
  padding: 8px 5px;
  margin: auto;
}

#sc-edprofile {
  background: #f0f0f0;
  width: 400px;
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 2%;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

#sc-edprofile h1 {
  background: #1a245e;
  padding: 20px 0;
  font-size: 140%;
  font-weight: 300;
  text-align: center;
  color: #fff;
}

div#sc-edprofile .sc-container {
  background: #f0f0f0;
  padding: 6% 4%;
}

div#sc-edprofile input[type="password"], 
div#sc-edprofile select, 
div#sc-edprofile textarea {
  width: 92%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 4%;
  font-family: 'Open Sans', sans-serif;
  font-size: 95%;
  color: #555;
}

div#sc-edprofile select {
  width: 100%;
}

div#sc-edprofile textarea {
  height: 100px;
}

div#sc-edprofile input[type="submit"] {
  width: 100%;
  background: #1a245e;
  border: 0;
  padding: 4%;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  color: #fff;
  cursor: pointer;
  transition: background .3s;
  -webkit-transition: background .3s;
}

div#sc-edprofile input[type="submit"]:hover {
  background: #2288bb;
}

li.home{
	float: left;
	margin-right: -450px;
	margin-left: 450px;
}
li.events{
	float: left;
	margin-right: -450px;
	margin-left: 450px;
}
li.faci{
	float: left;
	margin-right: -450px;
	margin-left: 450px;
}

li a.home{
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-style: bold;

}
li a.events{
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-style: bold;

}
li a.faci{
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-style: bold;

}
li a:hover {
	text-decoration: underline;
}